.force-wrap {
  word-wrap:break-word;
  width:100%;
  display:block;
}

.top-buffer { 
  margin-top:20px; 
} 

.navbar {
  background-image: linear-gradient(#10b973, #15c52b 60%, #1d9);
}
.btn-primary {
  background-image: linear-gradient(#25bb0a, #0ea713 60%, #134a09);
}